<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.srm.mapper.ApproveSettingMapper">
    <select id="queryPageList" resultType="org.jeecg.modules.srm.entity.ApproveSetting">
        select
            ast.*
        from approve_setting ast
        where ast.del_flag = '0'
        <if test="query.payMethod != null and query.payMethod != ''">
            AND ast.pay_method in
            <foreach collection="query.payMethod.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>
        <if test="query.type != null and query.type != ''">
            AND ast.type in
            <foreach collection="query.type.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>
        <if test="query.name != null and query.name != ''">
            AND exists (
                select su.username from sys_user su where su.realname LIKE concat(concat('%',#{query.name}),'%')
                and ast.username = su.username
                and su.del_flag = '0'
            )
        </if>
        <if test="query.company != null and query.company != ''">
            AND ast.company in
            <foreach collection="query.company.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </if>


        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'type'">
                order by ast.type
            </if>
            <if test="query.column == 'payMethod'">
                order by ast.pay_method
            </if>
            <if test="query.column == 'company'">
                order by ast.company
            </if>
            <if test="query.column == 'username'">
                order by ast.username
            </if>
            <if test="query.column == 'updateTime'">
                order by ast.update_time
            </if>
            <if test="query.column == 'createTime'">
                order by ast.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>
        </if>
    </select>
</mapper>