<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmoc.modules.srm.mapper.BiddingEvaluateTemplateItemMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  bidding_evaluate_template_item 
		WHERE
			 template_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmoc.modules.srm.entity.BiddingEvaluateTemplateItem">
		SELECT * 
		FROM  bidding_evaluate_template_item
		WHERE
			 template_id = #{mainId} 	</select>
</mapper>
