<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmoc.modules.srm.mapper.InquiryRecordMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  inquiry_record 
		WHERE
			 inquiry_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmoc.modules.srm.entity.InquiryRecord">
		SELECT * 
		FROM  inquiry_record
		WHERE
			 inquiry_id = #{mainId} 	</select>

	<select id="queryRecordList" resultType="org.cmoc.modules.srm.entity.InquiryRecord">
		SELECT
			ir.id,
			ir.prod_code,
			ir.prod_name,
		    ir.prod_id,
			ir.qty,
			ir.unit_id,
		    ir.lead_time,
			prd.capacity,
			bm.category_name,
			bm.spe_type,
			bm.model
		FROM
			inquiry_record ir
			left join bas_material bm on ir.prod_id = bm.id
		    left join purchase_request_detail prd on ir.to_record_id = prd.id
		where ir.inquiry_id = #{id}
		  and ir.del_flag = '0'
	</select>

	<select id="getRecordToSupp" resultType="org.cmoc.modules.srm.entity.InquirySupplier">
		select
		   isp.id,
		   isp.is_recommend,
		   isp.supplier_id,
		   isp.record_id,
		   isp.status,
		   isp.inquiry_qty,
		   isp.is_bargin,
		   isp.is_contract,
		   bs.name,
		   sq.id as quote_id,
		   sq.currency,
		   sq.tax_rate,
		   sq.order_price,
		   sq.order_price_tax,
		   sq.order_amount,
		   sq.order_amount_tax,
		   sq.trade_type,
		   sq.fare_amount,
		   sq.brand_name,
		   sq.spe_type
		from
			inquiry_supplier isp
			left join bas_supplier bs on isp.supplier_id = bs.id
			left join sup_quote sq on isp.record_id = sq.record_id and isp.supplier_id = sq.supp_id
		where
		    isp.del_flag = '0'
			and isp.record_id in
			<foreach collection="ids" item="item" open="(" close=")" separator="," >
				#{item}
			</foreach>
	</select>

	<select id="getRecordById" resultType="org.cmoc.modules.srm.entity.InquiryRecord">
		SELECT
			ir.prod_name,
			ir.prod_code,
			ir.id,
			iss.inquiry_qty as qty,
			ir.lead_time,
			sq.spe_type,
		    sq.brand_name as prod_brand,
			ir.unit_id,
			ir.prod_id,
			bm.model,
			prd.capacity,
		    ifnull(sb.supp_order_price,sq.order_price_tax) as price_tax,
			round(ifnull(sb.supp_order_price_tax,sq.order_price_tax) * iss.inquiry_qty,2) as amount_tax,
			ifnull(sb.supp_order_price,sq.order_price) as price,
			round(ifnull(sb.supp_order_price,sq.order_price) * iss.inquiry_qty,2) as amount,
			sq.currency as contract_currency,
			sq.amount as other_amount,
			sq.add_tax,
			sq.customs_tax,
			sq.tax_rate,
			sq.id as quote_record_id,
		    ifnull(pbr.budget_price,0) as budget_price
		FROM
			inquiry_record ir
			left join bas_material bm on ir.prod_id = bm.id
			left join purchase_request_detail prd on ir.to_record_id = prd.id
			left join purchase_request_main prm on prd.req_id = prm.id
			left join project_bom_relation pbr on prd.prod_id = pbr.material_id and prm.category_id = pbr.category_id and pbr.del_flag = '0'
			left join inquiry_supplier iss on ir.id = iss.record_id and iss.is_recommend = '1'
			LEFT JOIN sup_quote sq ON ir.id = sq.record_id AND iss.supplier_id = sq.supp_id
			left join (
				SELECT
					sb.*
				FROM
					( SELECT sb.quote_id, MAX( sb.create_time ) AS create_time FROM sup_bargain sb GROUP BY sb.quote_id ) tmp
						LEFT JOIN sup_bargain sb ON sb.quote_id = sb.quote_id
						AND sb.create_time = tmp.create_time
			) sb on sq.id = sb.quote_id
		where iss.id = #{id}
	</select>
</mapper>
