<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmoc.modules.srm.mapper.PurchaseRequestDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  purchase_request_detail 
		WHERE
			 req_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
			DISTINCT
			prd.id,
			prd.req_id,
			prd.prod_id,
			prd.qty,
			prd.unit_id,
			prd.order_price,
			prd.order_amount,
			prd.order_price_tax,
			prd.order_amount_tax,
			prd.prod_name,
			prd.prod_code,
			prd.lead_time,
			prd.purc_qty,
			prd.org_id,
			prd.capacity,
			prd.purc_qty,
			prd.single_capacity,
			prd.spe_type,
			prd.brand_name,
			prd.buyer_id,
			bm.model,
			IFNULL(pbr.qty,0) - IFNULL(tp.qty,0) + prd.qty  as max_qty
		FROM
			purchase_request_detail prd
			left join bas_material bm on prd.prod_id = bm.id
			left join purchase_request_main prm on prd.req_id = prm.id
			left join (
				SELECT
					prm.project_id,
					prd.prod_id,
					sum( prd.qty ) AS qty,
					prm.category_id
				FROM
					purchase_request_detail prd
					LEFT JOIN purchase_request_main prm ON prd.req_id = prm.id
				WHERE
					prm.req_type = '0'
				  	and prd.del_flag = '0'
				    AND prm.id != #{mainId}
				GROUP BY
					prm.project_id,
					prd.prod_id,
					prm.category_id
			) tp on tp.prod_id = prd.prod_id and tp.project_id = prm.project_id and prm.category_id = tp.category_id
			left join project_bom_relation pbr on prd.prod_id = pbr.material_id and pbr.proj_id = prm.project_id and pbr.del_flag = '0' and prm.category_id = pbr.category_id
		WHERE
			prd.req_id = #{mainId}
		  and prd.del_flag = '0'
	 </select>

	<select id="fetchAmountByModel" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
			sum(budget_amount) as order_amount_tax,
			pbr.proj_id,
			pbr.model
		FROM
			project_bom_relation pbr
		WHERE
			pbr.del_flag = '0'
		and pbr.proj_id = #{query.projectId}
		group by pbr.proj_id,pbr.model
	</select>

	<select id="fetchAmountByCategory" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
			sum(order_amount_tax) as order_amount_tax,
			prm.project_id,
			prm.category_id
		FROM
			purchase_request_detail prd
			inner join purchase_request_main prm on prd.req_id = prm.id
		WHERE
			prd.del_flag = '0'
		  and prm.project_id = #{query.projectId}
		group by prm.project_id,prm.category_id
	</select>

	<select id="queryPurchaseRequestDetail" parameterType="java.lang.String" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
			DISTINCT
			prd.id,
			prd.req_id,
			prd.prod_id,
			prd.qty - prd.purc_qty as qty,
			prd.unit_id,
			prd.order_price,
			prd.order_amount,
			prd.order_price_tax,
			prd.order_amount_tax,
			prd.prod_name,
			prd.prod_code,
			prd.lead_time,
			prd.purc_qty,
			prd.org_id,
			prd.capacity,
			prd.purc_qty,
			prd.single_capacity,
			prd.spe_type,
			prd.brand_name,
			bm.model,
			prd.qty as max_qty
		FROM
			purchase_request_detail prd
			left join bas_material bm on prd.prod_id = bm.id
			left join purchase_request_main prm on prd.req_id = prm.id
			left join project_bom_relation pbr on prd.prod_id = pbr.material_id and pbr.proj_id = prm.project_id and pbr.del_flag = '0'
		WHERE
			prd.req_id = #{mainId}
		  and prd.del_flag = '0'
          and prd.qty > prd.purc_qty
	</select>

	<select id="countInfo" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
		group_concat(t.qty,'台',t.prod_name Separator '-') prodName,
		prm.order_total_amount_tax orderAmountTax
		FROM(
			SELECT
			prd.prod_name,
			round(sum(prd.qty),0) qty,
			prd.req_id
			FROM purchase_request_detail prd
		WHERE
			prd.req_id = #{id,jdbcType=VARCHAR}
			and prd.del_flag = '0'
		group by prd.prod_name,prd.req_id) t
		LEFT JOIN purchase_request_main prm on t.req_id = prm.id
		WHERE 1=1
		GROUP BY t.req_id
	</select>

	<select id="fetchBatchRecordList" resultType="org.cmoc.modules.srm.entity.PurchaseRequestDetail">
		SELECT
			DISTINCT
			prd.id,
			prd.req_id,
			prd.prod_id,
			prd.qty - prd.purc_qty as qty,
			prd.unit_id,
			prd.order_price,
			prd.order_amount,
			prd.order_price_tax,
			prd.order_amount_tax,
			prd.prod_name,
			prd.prod_code,
			prd.lead_time,
			prd.purc_qty,
			prd.org_id,
			prd.capacity,
			prd.purc_qty,
			prd.single_capacity,
			prd.spe_type,
			prd.brand_name,
			bm.model,
			prd.qty as max_qty
		FROM
			purchase_request_detail prd
			left join bas_material bm on prd.prod_id = bm.id
			left join purchase_request_main prm on prd.req_id = prm.id
		WHERE
			prd.id in
		<foreach collection="ids.split(',')" item="item" open="(" close=")" separator="," >
			#{item}
		</foreach>
		  and prd.del_flag = '0'
	</select>
</mapper>
