<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmoc.modules.srm.mapper.PurchaseRequestMainMapper">
    <select id="fetchChildList" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        SELECT
            prm.req_code,
            prm.req_title,
            prm.order_total_amount as freeze_amount,
            prm.req_status,
            prm.comment,
            pc.budget_amount,
            ifnull(cb.contract_amount_tax_local,0) as usedAmount
        FROM
            purchase_request_main prm
            LEFT JOIN project_category pc ON prm.category_id = pc.id
            LEFT JOIN (
                select
                    ifnull(bm.request_id,il.request_id) as request_id,
                    sum(cb.contract_amount_tax_local) as contract_amount_tax_local
                from contract_base cb
                left join bidding_main bm on cb.request_id = bm.id
                left join inquiry_list il on cb.request_id = il.id
                where cb.contract_status = '4'
                and cb.del_flag = '0'
                group by ifnull(bm.request_id,il.request_id)
            ) cb on prm.id = cb.request_id
        WHERE
            prm.del_flag = '0'
            and prm.project_id = #{query.projectId}
            and prm.category_id = #{query.categoryId}
            <if test="query.reqCode !=null and query.reqCode != ''">
                and prm.req_code LIKE concat(concat('%',#{query.reqCode}),'%')
            </if>
            <if test="query.reqTitle !=null and query.reqTitle != ''">
                and prm.req_title LIKE concat(concat('%',#{query.reqTitle}),'%')
            </if>
    </select>

    <select id="fetchRequestByProjId" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        SELECT
            sum(prm.order_total_amount_tax) as order_total_amount_tax,
            prm.project_id
        FROM
            purchase_request_main prm
        WHERE
            prm.del_flag = '0'
            and prm.req_status != '4'
            and prm.project_id = #{query.projectId}
        group by prm.project_id
    </select>

    <select id="pageList" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        SELECT
            prm.*,
            case
            when prd.purc_qty = 0 then '0'
            when prd.qty > prd.purc_qty then '1'
            else '2' end as status,
            prd.id as record_id,
            prd.prod_name,
            prd.prod_id,
            prd.prod_code
        FROM
            purchase_request_main prm
            left join purchase_request_detail prd on prm.id = prd.req_id
        where prm.del_flag = '0'
        and prm.req_status = '2'
        <if test="query.status !=null and query.status != ''">
            and (
                case
                when prd.purc_qty = 0 then '0'
                when prd.qty > prd.purc_qty then '1'
                else '2' end = #{query.status}
            )
        </if>
        <if test='query.source == "1"'>
            and (
            case
            when prd.purc_qty = 0 then '0'
            when prd.qty > prd.purc_qty then '1'
            else '2' end in ('0','1')
            )
        </if>
        <if test='query.source == "2"'>
            and (
            case
            when prd.purc_qty = 0 then '0'
            when prd.qty > prd.purc_qty then '1'
            else '2' end in ('1','2')
            )
        </if>
        AND prd.buyer_id = #{query.auther}
        <if test="query.reqCode !=null and query.reqCode != ''">
            and prm.req_code LIKE concat(concat('%',#{query.reqCode}),'%')
        </if>
        <if test="query.reqTitle !=null and query.reqTitle != ''">
            and prm.req_title LIKE concat(concat('%',#{query.reqTitle}),'%')
        </if>
        <if test="query.reqType !=null and query.reqType != ''">
            and prm.req_type = #{query.reqType}
        </if>
        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'reqCode'">
                order by prm.req_code
            </if>
            <if test="query.column == 'reqTitle'">
                order by prm.req_title
            </if>
            <if test="query.column == 'approveTime'">
                order by prm.approve_time
            </if>
            <if test="query.column == 'buyerId'">
                order by prm.buyer_id
            </if>
            <if test="query.column == 'reqType'">
                order by prm.req_type
            </if>
            <if test="query.column == 'dealType'">
                order by prm.deal_type
            </if>
            <if test="query.column == 'status'">
                order by case
                when prd.purc_qty = 0 then '0'
                when prd.qty > prd.purc_qty then '1'
                else '2' end
            </if>
            <if test="query.column == 'createTime'">
                order by prm.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>

        </if>
    </select>

    <select id="fetchMaxAmount" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        SELECT
            sum(order_total_amount_tax) as order_total_amount_tax
        FROM
            purchase_request_main
        where del_flag = '0'
          and req_status != '4'
	      and category_id = #{query.categoryId}
        <if test="query.id !=null and query.id != ''">
            and id != #{query.id}
        </if>
        GROUP BY
            category_id
    </select>

    <select id="queryPageList" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        select
            distinct
            prm.*,
            pb.subject
        from
             purchase_request_main prm
             LEFT join proj_base pb on prm.project_id = pb.id
             left join (
                SELECT
                    GROUP_CONCAT(DISTINCT bm.open_bidding_date) as  open_bidding_date,
                    bm.request_id
                FROM
                    bidding_main bm
                WHERE
                    del_flag = '0'
                group by request_id
             ) bm on prm.id = bm.request_id
             left join approve_setting ast on pb.subject = ast.company and ast.username = #{query.createUser} and ast.type = 'requistion'
        where
              prm.del_flag = '0'
        <if test="query.reqCode != null and query.reqCode != ''">
            AND prm.req_code LIKE concat(concat('%',#{query.reqCode}),'%')
        </if>
        <if test="query.reqTitle != null and query.reqTitle != ''">
            AND prm.req_title LIKE concat(concat('%',#{query.reqTitle}),'%')
        </if>
        <if test="query.reqType != null and query.reqType != ''">
            AND prm.req_type = #{query.reqType}
        </if>
        <if test="query.reqCategory != null and query.reqCategory != ''">
            AND prm.req_category = #{query.reqCategory}
        </if>
        <if test="query.applyUserId != null and query.applyUserId != ''">
            AND prm.apply_user_id = #{query.applyUserId}
        </if>
        <if test="query.reqStatus != null and query.reqStatus != ''">
            AND prm.req_status = #{query.reqStatus}
        </if>
        <if test="query.auth == 'owner'">
            AND prm.apply_user_id = #{query.auther}
        </if>
        <if test="query.auth == 'dept'">
            AND prm.req_org_id = #{query.auther}
        </if>
        <if test="query.auth == 'subject'">
            AND exists (
                select pb.id from proj_base pb where prm.project_id = pb.id and pb.subject in
                <foreach collection="query.auther.split(',')" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            )
        </if>
        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'reqCode'">
                order by prm.req_code
            </if>
            <if test="query.column == 'reqTitle'">
                order by prm.req_title
            </if>
            <if test="query.column == 'projectName'">
                order by prm.project_name
            </if>
            <if test="query.column == 'reqOrgId'">
                order by prm.req_org_id
            </if>
            <if test="query.column == 'applyUserId'">
                order by prm.apply_user_id
            </if>
            <if test="query.column == 'reqDate'">
                order by prm.req_date
            </if>
            <if test="query.column == 'reqStatus'">
                order by prm.req_status
            </if>
            <if test="query.column == 'reqCategory'">
                order by prm.req_category
            </if>
            <if test="query.column == 'createTime'">
                order by prm.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>

        </if>
    </select>
    <select id="queryPageGoodsList" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        select
        distinct
        prm.*
        from
        purchase_request_main prm

        where
        prm.del_flag = '0'
        <if test="query.reqCode != null and query.reqCode != ''">
            AND prm.req_code LIKE concat(concat('%',#{query.reqCode}),'%')
        </if>
        <if test="query.reqTitle != null and query.reqTitle != ''">
            AND prm.req_title LIKE concat(concat('%',#{query.reqTitle}),'%')
        </if>
        <if test="query.reqType != null and query.reqType != ''">
            AND prm.req_type = #{query.reqType}
        </if>
        <if test="query.reqCategory != null and query.reqCategory != ''">
            AND prm.req_category = #{query.reqCategory}
        </if>
        <if test="query.applyUserId != null and query.applyUserId != ''">
            AND prm.apply_user_id = #{query.applyUserId}
        </if>
        <if test="query.reqStatus != null and query.reqStatus != ''">
            AND prm.req_status = #{query.reqStatus}
        </if>
        <if test="query.auth == 'owner'">
            AND prm.apply_user_id = #{query.auther}
        </if>
        <if test="query.auth == 'dept'">
            AND prm.req_org_id = #{query.auther}
        </if>

        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'reqCode'">
                order by prm.req_code
            </if>
            <if test="query.column == 'reqTitle'">
                order by prm.req_title
            </if>
            <if test="query.column == 'projectName'">
                order by prm.project_name
            </if>
            <if test="query.column == 'reqOrgId'">
                order by prm.req_org_id
            </if>
            <if test="query.column == 'applyUserId'">
                order by prm.apply_user_id
            </if>
            <if test="query.column == 'reqDate'">
                order by prm.req_date
            </if>
            <if test="query.column == 'reqStatus'">
                order by prm.req_status
            </if>
            <if test="query.column == 'reqCategory'">
                order by prm.req_category
            </if>
            <if test="query.column == 'createTime'">
                order by prm.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>

        </if>
    </select>

    <select id="queryPageList1" resultType="org.cmoc.modules.srm.entity.PurchaseRequestMain">
        select
        distinct
        prm.*,
        pb.subject,
        case when ast.id is not null then '1' else '0' end isDisabled,
        bm.open_bidding_date
        from
        purchase_request_main prm
        inner join proj_base pb on prm.project_id = pb.id
        left join (
        SELECT
        GROUP_CONCAT(DISTINCT bm.open_bidding_date) as  open_bidding_date,
        bm.request_id
        FROM
        bidding_main bm
        WHERE
        del_flag = '0'
        group by request_id
        ) bm on prm.id = bm.request_id
        left join approve_setting ast on pb.subject = ast.company and ast.username = #{query.createUser} and ast.type = 'requistion'
        where
        prm.del_flag = '0'
        <if test="query.reqCode != null and query.reqCode != ''">
            AND prm.req_code LIKE concat(concat('%',#{query.reqCode}),'%')
        </if>
        <if test="query.reqTitle != null and query.reqTitle != ''">
            AND prm.req_title LIKE concat(concat('%',#{query.reqTitle}),'%')
        </if>
        <if test="query.reqType != null and query.reqType != ''">
            AND prm.req_type = #{query.reqType}
        </if>
        <if test="query.reqCategory != null and query.reqCategory != ''">
            AND prm.req_category = #{query.reqCategory}
        </if>
        <if test="query.applyUserId != null and query.applyUserId != ''">
            AND prm.apply_user_id = #{query.applyUserId}
        </if>
        <if test="query.reqStatus != null and query.reqStatus != ''">
            AND prm.req_status = #{query.reqStatus}
        </if>
        <if test="query.auth == 'owner'">
            AND prm.apply_user_id = #{query.auther}
        </if>
        <if test="query.auth == 'dept'">
            AND prm.req_org_id = #{query.auther}
        </if>
        <if test="query.auth == 'subject'">
            AND exists (
            select pb.id from proj_base pb where prm.project_id = pb.id and pb.subject in
            <foreach collection="query.auther.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
            )
        </if>
        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'reqCode'">
                order by prm.req_code
            </if>
            <if test="query.column == 'reqTitle'">
                order by prm.req_title
            </if>
            <if test="query.column == 'projectName'">
                order by prm.project_name
            </if>
            <if test="query.column == 'reqOrgId'">
                order by prm.req_org_id
            </if>
            <if test="query.column == 'applyUserId'">
                order by prm.apply_user_id
            </if>
            <if test="query.column == 'reqDate'">
                order by prm.req_date
            </if>
            <if test="query.column == 'reqStatus'">
                order by prm.req_status
            </if>
            <if test="query.column == 'reqCategory'">
                order by prm.req_category
            </if>
            <if test="query.column == 'createTime'">
                order by prm.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>

        </if>
    </select>

    <select id="fetchQuoteFile" resultType="map">
        SELECT
            bq.attachment,
            bq.other_attachment as otherAttachment,
            bs.name,
            bm.bidding_no as biddingNo
        FROM
            bidding_main bm
            inner join bidding_quote bq on bm.id = bq.bidding_id and bq.del_flag = '0'
            inner join bas_supplier bs on bq.supp_id = bs.id
        where bm.del_flag = '0'
          and bm.request_id = #{query.id}
    </select>
</mapper>