<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmoc.modules.srm.mapper.PurPayApplyMapper">
    <select id="queryPageList" resultType="org.cmoc.modules.srm.entity.PurPayApply">
        SELECT
            DISTINCT
            ppa.*,
            case when cb.id is not null then '1'
            else '0' end as is_disabled,
            pai.attachment as invoice_attachment
        FROM
            pur_pay_apply ppa
            left join (
                select
                ppad.apply_id,GROUP_CONCAT(distinct pay_type) as pay_type
                from pur_pay_apply_detail ppad
                group by ppad.apply_id
            ) ppad on ppa.id = ppad.apply_id
            left join (
                select pai.apply_id,GROUP_CONCAT(ppi.attachment) as attachment
                from purchase_apply_invoice pai
                inner join purchase_pay_inovice ppi on pai.invoice_id = ppi.id
                where pai.del_flag = '0'
                group by pai.apply_id
            ) pai on ppa.id = pai.apply_id
            left join (
                SELECT
                    DISTINCT
                    cb.id,
                    ast.pay_method
                FROM
                    contract_base cb
                    inner join approve_setting ast on cb.contract_first_party_id = ast.company
                WHERE
                    ast.username = #{query.approvalUserId}
                    and ast.del_flag = '0'
            ) cb on ppa.contract_id = cb.id and  (find_in_set(cb.pay_method, ppad.pay_type) or cb.pay_method = ppad.pay_type)
        WHERE
            ppa.del_flag = '0'
        <if test="query.auth == 'owner'">
            AND cb.id is not null
        </if>
        <if test="query.auth == 'subject'">
            AND exists (
            select pb.id from proj_base pb where ppa.project_id = pb.id and pb.subject in
            <foreach collection="query.auther.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
            )
        </if>
        <if test='query.tabKey == "0"'>
            and ppa.apply_status in ('00','10')
        </if>
        <if test='query.tabKey == "1"'>
            and ppa.apply_status in ('20','30')
        </if>
        <if test="query.isPlan != null and query.isPlan != ''">
          and ppa.is_plan = #{query.isPlan}
        </if>
        <if test="query.suppName !=null and query.suppName != ''">
            and ppa.supp_name LIKE concat(concat('%',#{query.suppName}),'%')
        </if>
        <if test="query.applyCode !=null and query.applyCode != ''">
            and ppa.apply_code LIKE concat(concat('%',#{query.applyCode}),'%')
        </if>
        <if test="query.applyStatus !=null and query.applyStatus != ''">
            and ppa.apply_status = #{query.applyStatus}
        </if>
        <if test="query.payType !=null and query.payType != ''">
            and ppa.pay_type = #{query.payType}
        </if>
        <if test="query.contractId !=null and query.contractId != ''">
            and ppa.contract_id = #{query.contractId}
        </if>
        <if test="query.projectId !=null and query.projectId != ''">
            and ppa.project_id = #{query.projectId}
        </if>
        <if test="query.payMethod !=null and query.payMethod != ''">
            and ppa.pay_method = #{query.payMethod}
        </if>
        <if test="query.suppId !=null and query.suppId != ''">
            and ppa.supp_id = #{query.suppId}
        </if>
        <if test="query.currency !=null and query.currency != ''">
            and ppa.currency = #{query.currency}
        </if>
        <if test="query.startTime !=null and query.startTime != '' and query.endTime !=null and query.endTime != ''">
            and ppa.create_time between #{query.startTime} and #{query.endTime}
        </if>
        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'applyCode'">
                order by ppa.apply_code
            </if>
            <if test="query.column == 'payAmountOther'">
                order by ppa.pay_amount_other
            </if>
            <if test="query.column == 'payAmount'">
                order by ppa.pay_amount
            </if>
            <if test="query.column == 'currency'">
                order by ppa.currency
            </if>
            <if test="query.column == 'payMethod'">
                order by ppa.pay_method
            </if>
            <if test="query.column == 'payType'">
                order by ppa.pay_type
            </if>
            <if test="query.column == 'payRate'">
                order by ppa.pay_rate
            </if>
            <if test="query.column == 'suppName'">
                order by ppa.supp_name
            </if>
            <if test="query.column == 'projectName'">
                order by ppa.project_name
            </if>
            <if test="query.column == 'applyStatus'">
                order by ppa.apply_status
            </if>
            <if test="query.column == 'applyTime'">
                order by ppa.apply_time
            </if>
            <if test="query.column == 'contractName'">
                order by ppa.contract_name
            </if>

            <if test="query.column == 'createTime'">
                order by ppa.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>
        </if>
    </select>

    <select id="getTotalAmountByCurrency" resultType="org.cmoc.modules.srm.entity.PurPayApply">
        SELECT
            ppa.currency,
            sum(ppa.pay_amount_other) as pay_amount_other
        FROM
            pur_pay_apply ppa
            left join (
                SELECT
                    DISTINCT
                    cb.id,
                    ast.pay_method
                FROM
                    contract_base cb
                    inner join approve_setting ast on cb.contract_first_party_id = ast.company
                WHERE
                    ast.username = #{query.approvalUserId}
                    and ast.del_flag = '0'
            ) cb on ppa.contract_id = cb.id and ppa.pay_type = cb.pay_method
        WHERE
            ppa.del_flag = '0'
            <if test="query.auth == 'owner'">
                AND cb.id is not null
            </if>
            <if test="query.auth == 'subject'">
                AND exists (
                select pb.id from proj_base pb where ppa.project_id = pb.id and pb.subject in
                <foreach collection="query.auther.split(',')" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
                )
            </if>
            <if test="query.isPlan != null and query.isPlan != ''">
                and ppa.is_plan = #{query.isPlan}
            </if>
            <if test="query.suppName !=null and query.suppName != ''">
                and ppa.supp_name LIKE concat(concat('%',#{query.suppName}),'%')
            </if>
            <if test="query.applyCode !=null and query.applyCode != ''">
                and ppa.apply_code LIKE concat(concat('%',#{query.applyCode}),'%')
            </if>
            <if test="query.applyStatus !=null and query.applyStatus != ''">
                and ppa.apply_status = #{query.applyStatus}
            </if>
            <if test="query.payType !=null and query.payType != ''">
                and ppa.pay_type = #{query.payType}
            </if>
            <if test="query.contractId !=null and query.contractId != ''">
                and ppa.contract_id = #{query.contractId}
            </if>
            <if test="query.projectId !=null and query.projectId != ''">
                and ppa.project_id = #{query.projectId}
            </if>
            <if test="query.payMethod !=null and query.payMethod != ''">
                and ppa.pay_method = #{query.payMethod}
            </if>
            <if test="query.currency !=null and query.currency != ''">
                and ppa.currency = #{query.currency}
            </if>
            <if test="query.startTime !=null and query.startTime != '' and query.endTime !=null and query.endTime != ''">
                and ppa.create_time between #{query.startTime} and #{query.endTime}
            </if>
        group by ppa.currency
    </select>

    <select id="getDetailList" resultType="org.cmoc.modules.srm.entity.ContractObjectQty">
        SELECT
            coq.*,
            prd.org_id,
            ppad.id as apply_detail_id,
            co.contract_number
        FROM
            pur_pay_apply_detail ppad
            INNER JOIN contract_object_qty coq ON ppad.bill_detail_id = coq.id
            INNER JOIN contract_base co on coq.contract_id = co.id
            LEFT JOIN bidding_main bm on co.request_id = bm.id
            LEFT JOIN inquiry_list il on co.request_id = il.id
            LEFT JOIN purchase_request_detail prd on prd.req_id = ifnull(bm.request_id,il.request_id) and prd.prod_code = coq.prod_code
        WHERE
            ppad.del_flag = '0'
          AND coq.to_send_qty = 0
          AND ppad.apply_id = #{id}
    </select>

    <select id="fetchPayDetailList" resultType="org.cmoc.modules.srm.entity.PurPayApplyDetail">
        SELECT DISTINCT
            coq.prod_name,
            co.qty AS qty
        FROM
            pur_pay_apply_detail ppad
            INNER JOIN contract_object_qty coq ON ppad.bill_detail_id = coq.id
            INNER JOIN contract_object co ON coq.record_id = co.id
        where ppad.del_flag = '0'
        and ppad.apply_id in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
        group by coq.prod_code
    </select>

    <select id="queryList" resultType="org.cmoc.modules.srm.entity.PurPayApply">
        SELECT
            ppa.*,
            case when cb.id is not null then '1'
            else '0' end as is_disabled
        FROM
            pur_pay_apply ppa
        left join (
            SELECT
            DISTINCT
            cb.id,
            ast.pay_method
            FROM
            contract_base cb
            inner join approve_setting ast on cb.contract_first_party_id = ast.company
            WHERE
            ast.username = #{query.approvalUserId}
            and ast.del_flag = '0'
        ) cb on ppa.contract_id = cb.id and ppa.pay_type = cb.pay_method
        WHERE
        ppa.del_flag = '0'
        <if test="query.auth == 'owner'">
            AND cb.id is not null
        </if>
        <if test="query.auth == 'subject'">
            AND exists (
            select pb.id from proj_base pb where ppa.project_id = pb.id and pb.subject in
            <foreach collection="query.auther.split(',')" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
            )
        </if>
        <if test='query.tabKey == "0"'>
            and ppa.apply_status in ('00','10')
        </if>
        <if test='query.tabKey == "1"'>
            and ppa.apply_status in ('20','30')
        </if>
        <if test="query.isPlan != null and query.isPlan != ''">
            and ppa.is_plan = #{query.isPlan}
        </if>
        <if test="query.suppName !=null and query.suppName != ''">
            and ppa.supp_name LIKE concat(concat('%',#{query.suppName}),'%')
        </if>
        <if test="query.applyCode !=null and query.applyCode != ''">
            and ppa.apply_code LIKE concat(concat('%',#{query.applyCode}),'%')
        </if>
        <if test="query.applyStatus !=null and query.applyStatus != ''">
            and ppa.apply_status = #{query.applyStatus}
        </if>
        <if test="query.payType !=null and query.payType != ''">
            and ppa.pay_type = #{query.payType}
        </if>
        <if test="query.contractId !=null and query.contractId != ''">
            and ppa.contract_id = #{query.contractId}
        </if>
        <if test="query.projectId !=null and query.projectId != ''">
            and ppa.project_id = #{query.projectId}
        </if>
        <if test="query.payMethod !=null and query.payMethod != ''">
            and ppa.pay_method = #{query.payMethod}
        </if>
        <if test="query.suppId !=null and query.suppId != ''">
            and ppa.supp_id = #{query.suppId}
        </if>
        <if test="query.currency !=null and query.currency != ''">
            and ppa.currency = #{query.currency}
        </if>
        <if test="query.startTime !=null and query.startTime != '' and query.endTime !=null and query.endTime != ''">
            and ppa.create_time between #{query.startTime} and #{query.endTime}
        </if>
        <if test="query.column != null and query.column != ''">
            <if test="query.column == 'applyCode'">
                order by ppa.apply_code
            </if>
            <if test="query.column == 'payAmountOther'">
                order by ppa.pay_amount_other
            </if>
            <if test="query.column == 'payAmount'">
                order by ppa.pay_amount
            </if>
            <if test="query.column == 'currency'">
                order by ppa.currency
            </if>
            <if test="query.column == 'payMethod'">
                order by ppa.pay_method
            </if>
            <if test="query.column == 'payType'">
                order by ppa.pay_type
            </if>
            <if test="query.column == 'payRate'">
                order by ppa.pay_rate
            </if>
            <if test="query.column == 'suppName'">
                order by ppa.supp_name
            </if>
            <if test="query.column == 'projectName'">
                order by ppa.project_name
            </if>
            <if test="query.column == 'applyStatus'">
                order by ppa.apply_status
            </if>
            <if test="query.column == 'applyTime'">
                order by ppa.apply_time
            </if>
            <if test="query.column == 'contractName'">
                order by ppa.contract_name
            </if>

            <if test="query.column == 'createTime'">
                order by ppa.create_time
            </if>
            <if test="query.order == 'asc'">
                asc
            </if>
            <if test="query.order == 'desc'">
                desc
            </if>
        </if>
    </select>

    <select id="fetchHasPayDetailList" resultType="org.cmoc.modules.srm.entity.PurPayApply">
        SELECT
            ifnull(sum(ppa.pay_amount_other),0) as pay_amount_other
        FROM
            pur_pay_apply ppa
            inner join pur_pay_plan_detail pppd on ppa.id = pppd.pay_apply_id
            inner join pur_pay_plan ppp on pppd.pay_plan_id = ppp.id
            inner join contract_base cb on ppa.contract_id = cb.id
        where ppa.del_flag = '0'
          and ppp.pay_status = '2'
          and (cb.id = #{id} or cb.main_id = #{id})
    </select>
</mapper>