<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.srm.mapper.PurchasePayInoviceMapper">
    <select id="queryPurPayInvoiceDetailByMainId" resultType="org.jeecg.modules.srm.entity.ContractObjectQty">
        SELECT
            sibe.id,
            sibe.qty,
            sibe.prod_code,
            sibe.prod_name,
            sibe.invoice_rate,
            sibe.invoice_qty,
            coq.prod_spec_type,
            cb.contract_name,
            cb.contract_number,
            cb.contract_tax_rate,
            coq.contract_price,
            coq.contract_price_tax,
            coq.contract_amount,
            coq.contract_amount_tax,
            coq.contract_amount_tax - coq.contract_amount as contract_tax,
            cb.contract_tax_rate as tax_rate,
            ppad.id,
            ppad.bill_detail_id,
            ppad.qty,
            ppad.invoice_tax,
            ppad.invoice_rate
        FROM
            purchase_pay_invoice_detail ppad
            inner join stk_io_bill_entry sibe on ppad.bill_detail_id = sibe.id
            inner join contract_object_qty coq on sibe.order_detail_id = coq.id
            inner join contract_base cb on coq.contract_id = cb.id
        WHERE
            ppad.invoice_id = #{id}
          and ppad.del_flag = '0'
    </select>


    <select id="fetchInvoiceList" resultType="org.jeecg.modules.srm.entity.PurchasePayInovice">
        select
           ppi.*,
           ifnull(pai.invoice_amount,0) as apply_invoice_amount,
           ifnull(pai.invoice_amount_tax,0)  as apply_invoice_amount_tax,
           ifnull(pai.invoice_amount_local,0) as apply_invoice_amount_local,
           ifnull(pai.invoice_amount_tax_local,0) as apply_invoice_amount_tax_local
        from purchase_pay_inovice ppi
        left join purchase_apply_invoice pai on ppi.id = pai.invoice_id and pai.apply_id = #{query.applyId}
        inner join contract_base cb on ppi.contract_id = cb.id
        where ppi.del_flag = '0'
        and ppi.supplier_id = #{query.supplierId}
        and (cb.id = #{query.contractId} or cb.main_id = #{query.contractId})
        and ppi.is_used = '0'
    </select>
</mapper>