<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.srm.mapper.StkIoBillEntryMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  stk_io_bill_entry 
		WHERE
			 mid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.srm.entity.StkIoBillEntry">
		SELECT
			sibe.id,
			co.contract_id,
			co.record_id,
			co.supp_id,
			co.object_type,
			co.prod_code,
			co.prod_name,
			co.contract_tax_rate,
			co1.prod_brand,
			co1.prod_spec_type,
			co.exchange_rate,
			co.require_date,
			co.plan_delivery_date,
			co.comment,
			co.sort,
			co.tenant_id,
			co.del_flag,
			co.create_user,
			co.update_user,
			co.create_time,
			co.update_time,
			co.to_record_id,
			co.capacity,
			co.unit_id,
			co.pay_qty,
			co.invoice_rate,
			co.invoice_qty,
			co.to_send_qty,
			co.to_return_qty,
			co.contract_price_tax as price_tax,
			co.contract_price_tax * sibe.qty as amount_tax,
			ifnull(round(co.pay_rate/co.contract_price_tax * 100,0),0) as pay_rate,
			sibe.entry_no,
			sibe.order_detail_id,
		    sibe.qty,
			sibe.contract_price,
			sibe.contract_price_tax,
			sibe.contract_amount,
			sibe.contract_amount_tax,
			sibe.contract_price_local,
			sibe.contract_price_tax_local,
			sibe.contract_amount_local,
			sibe.contract_amount_tax_local,
			sibe.seq_no,
			sibe.social_no,
			co1.qty as contract_qty,
			sibe.pack_no,
			sibe.send_time
		FROM  stk_io_bill_entry sibe
		left join contract_object_qty co on sibe.order_detail_id = co.id
		left join contract_object co1 on co1.id = co.record_id
		WHERE
			 mid = #{mainId}
		and sibe.del_flag = '0'
	</select>

	<select id="queryDetailListByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.srm.entity.StkIoBillEntry">
		SELECT
			co.*,
			sibe.order_detail_id,
			sibe.qty as has_in_qty,
			ifnull(srbe.qty,0) as has_return_qty,
		    sibe.qty - ifnull(srbe.qty,0) as max_qty
		FROM
		     stk_io_bill_entry sibe
			 left join contract_object co on sibe.order_detail_id = co.id
			 left join (
			 	select srbe.bill_detail_id,sum(qty) as qty from  stk_return_bill_entry srbe
			     where srbe.del_flag = '0'
			 	group by srbe.bill_detail_id
			 ) srbe on sibe.id = srbe.bill_detail_id
		WHERE
			mid = #{mainId}
		  and sibe.qty > ifnull(srbe.qty,0)
		  and sibe.del_flag = '0'
	</select>
</mapper>
