<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmoc.modules.srm.mapper.ProjectBomChildMapper">
    <select id="fetchTotalCapacity" resultType="com.cmoc.modules.srm.entity.ProjectBomRelation">
        SELECT
            sum( pbr.qty * pbr.capacity ) AS capacity,
            pbr.proj_id,
            pbr.model,
            pb.proj_name as name,
            dt.`text`
        FROM
            project_bom_relation pbr
            left join proj_base pb on pbr.proj_id = pb.id
            left join (
                SELECT
                    dict.dict_code,
                    item.item_text AS "text",
                    item.item_value AS "value"
                FROM
                    sys_dict_item item
                    INNER JOIN sys_dict dict ON dict.id = item.dict_id
                where dict_code = 'model'
            ) dt on pbr.model = dt.value
        where pbr.del_flag = '0'
          and pbr.model is not null
        <if test="query.projectId != null and query.projectId != ''">
            and pbr.proj_id = #{query.projectId}
        </if>
        <if test="query.model != null and query.model != ''">
            and pbr.model = #{query.model}
        </if>
        group by pbr.proj_id,pbr.model
    </select>

    <select id="fetchDiffCapacity" resultType="com.cmoc.modules.srm.entity.ProjectBomRelation">
        SELECT
            sum((pbr.capacity - co.capacity) * co.qty) as capacity,
            pbr.model,
            cb.project_id as proj_id,
            sum(ifnull(vcra.contract_amount_tax_local,co.contract_amount_tax_local)) as budget_amount
        FROM
            contract_object co
            INNER JOIN contract_base cb ON co.contract_id = cb.id
            INNER JOIN bas_material bm on co.prod_code = bm.code
            INNER JOIN project_bom_relation pbr ON bm.id = pbr.material_id
            AND pbr.del_flag = '0'
            AND pbr.proj_id = cb.project_id
            left join view_contract_record_amount vcra on co.id = vcra.record_id
        WHERE
            co.del_flag = '0'
          AND cb.contract_status = '4'
          AND cb.main_id is null
          <if test="query.model != null and query.model != ''">
              AND pbr.model = #{query.model}
          </if>
          <if test="query.projectId != null and query.projectId != ''">
            AND cb.project_id = #{query.projectId}
          </if>
          group by cb.project_id,pbr.model
    </select>

    <select id="fetchDiffCapacityTotal" resultType="com.cmoc.modules.srm.entity.ProjectBomRelation">
        SELECT
            sum(ifnull(vcra.contract_amount_tax_local,co.contract_amount_tax_local)) as budget_amount
        FROM
            contract_object co
            INNER JOIN contract_base cb ON co.contract_id = cb.id
            INNER JOIN bas_material bm on co.prod_code = bm.code
            INNER JOIN project_bom_relation pbr ON bm.id = pbr.material_id
            AND pbr.del_flag = '0'
            AND pbr.proj_id = cb.project_id
            left join view_contract_record_amount vcra on co.id = vcra.record_id
        WHERE
        co.del_flag = '0'
        AND cb.contract_status = '4'
        AND cb.main_id is null
        <if test="query.projectId != null and query.projectId != ''">
            AND cb.project_id = #{query.projectId}
        </if>
    </select>

    <select id="fetchContractByProjId" resultType="com.cmoc.modules.srm.entity.ProjectBomChild">
        SELECT
            sum(co.contract_amount_tax_local)  as budget_amount
        FROM
            contract_object co
                INNER JOIN contract_base cb ON co.contract_id = cb.id
                left join bidding_record br on co.to_record_id = br.id
                left join inquiry_record ir on co.to_record_id = ir.id
                inner join purchase_request_detail prd on ifnull(br.to_record_id,ir.to_record_id) = prd.id
                INNER JOIN project_bom_relation pbr ON prd.prod_id = pbr.material_id
                AND pbr.del_flag = '0'
                AND pbr.proj_id = cb.project_id
                INNER JOIN bas_material bm on pbr.material_id = bm.id
        WHERE
            co.del_flag = '0'
          AND cb.contract_status = '4'
          AND bm.model = #{query.model}
          AND cb.project_id = #{query.projectId}
    </select>

    <select id="fetchBomChildList" resultType="com.cmoc.modules.srm.entity.ProjectBomChild">
        SELECT
            pbc.id,
            pbc.model,
            prb.budget_amount,
            project_id,
            iprogress,
            neck,
            capacity
        FROM
            project_bom_child pbc
            LEFT JOIN (
                SELECT sum( qty * budget_price ) AS budget_amount, model FROM project_bom_relation WHERE del_flag = '0'
                <if test="query.projectId != null and query.projectId != ''">
                    AND proj_id = #{query.projectId}
                </if>
                GROUP BY model
                ) prb ON pbc.model = prb.model
        WHERE
            pbc.del_flag = '0'
        <if test="query.projectId != null and query.projectId != ''">
            AND pbc.project_id = #{query.projectId}
        </if>
    </select>


</mapper>